---
const { title } = Astro.props as { title: string };
---

<section class="page-card">
  <header>
    <h2 class="section-title">{title}</h2>
    <slot name="action" />
  </header>
  <slot />
</section>
